---
import Button from "../components/Button.astro";
---

<section class="text-white bg-[#07504F] grid grid-cols-2">
  <article>
    <p>tilmeld nyhedsbrev</p>
    <p>slot til å sette ind mail</p>
    <Button>Støt nu</Button>
  </article>
  <article>
    <div>
      <p>Kontakt</p>
      <p>+45 42 66 72 46</p>
      <p>info@plasticchange.org</p>
    </div>
    <div>
      <p>ikoner til socials</p>
    </div>
  </article>
</section>
