---
import Button from "../components/Button.astro";
---

<h1>form - Giv et bidrag</h1>
<section class="grid grid-cols-2">
  <article>
    <p>bitmap av hånd og penger</p>
  </article>
  <article>
    <form>
      Jeg vil gerne støtte Plastic Change med et
      <select
        id="belop"
        name="belop"
        class="border-0 text-[#FF1054] underline bg-[#C0D9D7]"
      >
        <option>månedlig</option>
        <option>engangs</option>
      </select> beløp med
      <input
        type="number"
        name="number"
        id="number"
        placeholder="200"
        class="border-0 bg-[#C0D9D7] underline text-[#FF1054] placeholder:text-[#FF1054] focus:outline-none focus:border-0"
      />kr. Jeg er
      <select
        id="interesseret"
        name="interesseret"
        class="border-0 bg-[#C0D9D7] underline text-[#FF1054]"
      >
        <option>interesseret</option>
        <option>ikke interesseret</option>
      </select> i at blive opdateret i Plastic Changes arbejde på min mailadresse
      <input
        id="email"
        name="email"
        type="email"
        autocomplete="email"
        placeholder="andersand@gmail.com"
        class="placeholder:text-[#FF1054] border-0 bg-[#C0D9D7] text-[#FF1054] underline"
      />
    </form>
  </article>
</section>
