---
import Button from "../components/Button.astro";
---

<section>
  <h1>form - Giv et bidrag</h1>
  <p>
    Jeg vil gerne støtte Plastic Change med et månedligt/engangsbeløb med xxx
    kr. Jeg er interesseret/ikke interesseret i at blive opdateret i Plastic
    Change arbejde på min mailadresse xxxx (gør om til slots så det fungerer som
    form)
  </p>
  <Button>Støt nu</Button>
</section>
<section>
  <p>bitmap av hånd og penger</p>
</section>
