---
import Button from "../components/Button.astro";
---

<div class="flex justify-between mt-3 mx-2">
  <p class="font-semibold text-[#07504F] text-2xl">plastic change</p>
  <Button>Støt nu</Button>
</div>
