---
import { Image } from "astro:assets";
import singleusesucks from "../assets/images/singleuse.svg";
---

<section class="mx-80 md:mb-44">
  <div class="flex justify-center">
    <Image src={singleusesucks} alt="#singleusesucks" format="webp" />
  </div>
</section>
