---

---

<section>
  <h1>section 4 - Danmark er europamestre i affald</h1>
  <p>
    Danmark er det land i Europa, der genererer mest affald pr. indbygger. På
    trods af, at vi i Danmark har et veludviklet affaldssystem, hvor skraldemænd
    indsamler skrald og kører det til for eksempel forbrændingsanlæg, så ser vi
    stadig rigtig meget plastikforurening rundt omkring i den danske natur”
  </p>
  <p>skraldepose = 1kg</p>
</section>
<section class="grid grid-cols-2">
  <article>
    <h2>Danmarks gennemsnit</h2>
    <p>billede</p>
  </article>
  <article>
    <h2>Europas gennemsnit</h2>
    <p>billede</p>
  </article>
</section>
