---

---

<section>
  <h1>section 3 - Hvad er problemet med plastikforurening?</h1>
  <p>Emballager og produkter forurener i alle dele af processen: fra udvindingen af olie, til produktion, transport, forbrug, og når de ender til forbrænding eller i naturen.</p>
  <h2>Havdyr svømmer i dit affald</h2>
  <p>
    Man regner med, at mindst <span class="text-[#FF1054] text-[32px]">2249 </span>havlevende dyrearter påvirkes af plastikforurening, og mange af dem er i forvejen truede arter.
  </p>
</section>
<section>
  <p>billeder av havdyr med skrald</p>
</section>
