---
import { Image } from "astro:assets";
import Skildpadde from "../assets/images/skildpadde.png";
import Hval from "../assets/images/hval.png";
---

<section class="max-w-2xl mx-auto">
  <h2>Hvad er problemet med plastikforurening?</h2>
  <p class="max-w-lg mb-12">
    Emballager og produkter forurener i alle dele af processen: fra udvindingen
    af olie, til produktion, transport, forbrug, og når de ender til forbrænding
    eller i naturen.
  </p>
  <h3>Havdyr svømmer i dit affald</h3>
  <p class="max-w-lg">
    Man regner med, at mindst <span class="text-[#FF1054] text-[32px] leading-none"
      >2249
    </span>havlevende dyrearter påvirkes af plastikforurening, og mange af dem
    er i forvejen truede arter.
  </p>
</section>
<section class="mb-44 grid md:grid-cols-12">
  <Image src={Skildpadde} alt="skildpadde" format="webp" class="transform scale-x-[-1] md:col-start-9 md:col-span-3 md:row-start-1 md:row-span-2" />
  <Image src={Hval} alt="hval" format="webp" class="md:col-start-2 md:col-span-6 md:row-start-1 md:row-span-2" />
</section>
