---

---

<section>
  <h1>section 1 - Hvad er plastikforurening?</h1>
  <p>
    Når plastikmaterialer ophober sig i naturen, gør det skade på både miljøet,
    dyrelivet og menneskers sundhed!
  </p>
  <h2>Du spiser plastik hver dag</h2>
  <p>Hvert år udledes der 8-10 mio. ton plastik til havet</p>
  <p>Det svarer til 1 lastbil med plastik, der tømmes hvert minut!</p>
</section>
<section>
  <p>billede av lastebil</p>
  <p>billede av flasker</p>
  <p>billede av mikroplastik og gift</p>
  <p>billede av fisk og mikroplastik</p>
  <p>billede av fisk på tallerken</p>
</section>
