---
import { Image } from "astro:assets";
import diagram from "../assets/images/soejlediagram.png";
---

<section class="md:mb-44 mx-5">
  <div class="max-w-2xl mx-auto">
    <h2 class="max-w-lg">Hvordan bliver plastik brugt?</h2>
    <p class="max-w-lg">
      Plastik er et ekstremt solidt og brugbart materiale. Men ofte bliver det
      kun brugt en gang – f.eks. ved emballage, plastikposer og engangskopper.
    </p>
  </div>
  <div class="flex justify-center">
    <Image src={diagram} alt="diagram over plastikforbrug" format="webp" />
  </div>
</section>
