---

---

<section>
  <h1>section 2 - Hvordan bliver plastik brugt?</h1>
  <p>
    Plastik er et ekstremt solidt og brugbart materiale. Men ofte bliver det kun
    brugt en gang – f.eks. ved emballage, plastikposer og engangskopper.
  </p>
</section>
<section>
  <p>Diagram</p>
</section>
